body{
    margin: 0;
}

.navbar{
    position: fixed;
    width: 100%;
    margin:0;
    background-color: black;
    height: 3rem;
}

.navbar ul{
    position: relative;
    top: 1rem;
    display: inline;
}

.navbar li{
    display: inline;
    padding-top: 0.5rem;
    padding-right: 2rem;
}

.navbar a{
    padding-top: 0.5rem;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.container-1{
    width: 100%;
}
.container-1 img{
    width: 100%;
}
a:hover{
    color: grey;
}

.container-1 h3{
    position: relative;
    text-align: center;
    bottom: 14rem;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-1 p{
    position: relative;
    text-align: center;
    bottom: 15rem;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-2{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 0;
}

.container-2 h1{
    margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.container-2 h3{
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    padding-top: 0;
    margin-top: 0.5rem;
    font-weight: lighter;
}

.clr{
    clear: both;
}
.container-3{
    margin: 3rem auto auto auto;
    width:60%;
}
.container-3 h3{
    font-family: 'Roboto Condensed', sans-serif;
}
.block-1{
    margin-left: 5rem;
}

.block{
    float: left;
    width: 30%;
}

.container-4{
    width: 100%;
    background-color: black;
}
.container-4 h1{
    padding-top: 2rem;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.7rem;
}

.container-4 h3{
    text-align: center;
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}
.tickets h3{
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    padding: 0.5rem;
}
.tickets hr{
    border-style: solid grey;
    border-bottom: none;
    width: 51%;
    margin: 0 auto;
}
